/* styleRegistro.css */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:wght@400;700&display=swap');

body {
    background-color: #FFF5BA; /* Amarillo suave de fondo */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registro-container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px #CBA6F7; /* Sombra morada sólida */
    border: 3px solid #333;
    width: 350px;
    text-align: center;
}

h2 {
    font-family: 'Fredoka', sans-serif;
    color: #CBA6F7;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #FFB6C1; /* Borde rosa */
    border-radius: 10px;
    outline: none;
}

input:focus {
    border-color: #A0E7E5; /* Cambia a azul cielo al escribir */
}

button {
    background-color: #FFB6C1;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #CBA6F7;
    transform: translateY(-3px);
}